**/.DS_Store
**/__pycache__/*

warpmesh.egg-info/*
.eggs/*
data/few*
data/dataset*
data/dataset/*
data/helmholtz*
data/output/*
data/temp/*
data/z*
data/burgers*
data/dataset/burgers*
wandb/*

install/movement/*
install/firedrake/*
install/firedrake-install.log
install/firedrake-install

script/git_push.sh
script/check_tangle.ipynb
script/compare_error.ipynb
scirpt/play_tangle.ipynb

output_sim/
outputs_sim/
outputs_sim_ale/

tests/animatio2.mp4
tests/animation.mp4

tests/vis_d.ipynb
tests/vis_d_cylinder.ipynb

meshes/airfoil/

eval/*

.gitmodules

temp/*
results/*

temp*


