**/.DS_Store
**/__pycache__/*

warpmesh.egg-info/*
.eggs/*
data/dataset/*
data/output/*
data/temp/*

install/movement/*
install/firedrake/*
install/firedrake-install.log
install/firedrake-install

script/git_push.sh
script/check_tangle.ipynb
script/compare_error.ipynb
scirpt/play_tangle.ipynb

.gitmodules

temp/*


