**/.DS_Store
**/__pycache__/*

UM2N.egg-info/*
warpmesh.egg-info/*
.eggs/*
data/few*
data/dataset*
data/dataset/*
data/helmholtz*
data/output/*
data/temp/*
data/z*
data/burgers*
data/dataset/burgers*
wandb/*

install/movement/*
install/firedrake/*
install/firedrake-install.log
install/firedrake-install

ouput_sim/*
ouput_sims/*

script/git_push.sh
script/check_tangle.ipynb
script/compare_error.ipynb
scirpt/play_tangle.ipynb

eval/*

.gitmodules

temp/*
results/*

temp*


